@import "./bootstrap.scss";

nav i {
    color: white;
}

#mapbox {
    width: 100%;
}

#info-panel.info-panel-hidden {
    display: none;
}

#info-panel {
    display: fixed;
    position: absolute;
    top: $header-height + 10px;
    right: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

    .info-group {
        margin-left: 20px;
        font-size: 20px;
        
        b {
            width: 70px;
            display: inline-block;
        }
    }
}

#info-comments {
    margin-top: 40px;
    margin-left: 20px;
    color: black;

    textarea {
        padding: 5px;
    }

    button {
        margin-top: 10px;
    }
}

#info-existing-comments {
    margin-top: 20px;
    
    b {
        width: 60px;
        margin-right: 10px;
        display: inline-block;
    }
}
